* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  margin: 0;
}

* {
  box-sizing: border-box;
}
form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
input,
.submit-btn {
  border: none;
  outline: none;
  border-radius: 3px;
}
input {
  width: 100%;
  height: 42px;
  background: #f9f0da;
  padding-left: 15px;
}
.submit-btn {
  height: 26px;
  width: 26px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #f15b42;
  cursor: pointer;
}
.submit-btn:before {
  content: '\f105';
  font-family: FontAwesome;
  color: #f9f0da;
  font-size: 20px;
  font-weight: bold;
}

.background-form {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #dabb52;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
}

.image-info {
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-bottom: -20px;
  margin-bottom: 50px;
}

.image-box {
  width: 400px;
  height: 400px;
  margin-right: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.about-img {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  padding-top: 15px;
}

.number {
  text-align: center;
  font-weight: 400;
}

.name-numbers {
  font-weight: 700;
}

.img-hover:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.gallery {
  text-align: center;
  margin-top: 20px;
}

.loader {
  opacity: 0;
  margin: 0 auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #dabb52;
  border-bottom: 16px solid #dabb52;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2x linear infinite;
}

.loader.show {
  opacity: 1;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .loading {
  opacity: 0;
  display: flex;
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 3000 ease-in;
}

.loading.show {
  opacity: 1;
}

.ball {
  background-color: #777;
  border-radius: 50%;
  margin: 5px;
  height: 10px;
  width: 10px;
  animation: jump 5000 ease-in infinite;
}

.ball:nth-of-type(2) {
  animation-delay: 100;
}

.ball:nth-of-type(3) {
  animation-delay: 200;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
} */
